<template>
	<div class="container feeds-container">
		<div class="wplogos-box">
			<div class="top-section head-section m-b-25">
				<h2>Access Token</h2>
				<p>Add your instagram access token to start building your feeds.</p>
			</div>
			<div class="separator separator-hr m-b-25"></div>
			<div class="bottom-section">

				<div class="get-access-token m-b-30">
					
					<h3 class="section-title-01 m-b-15">Get Access Token</h3>
					<p class="m-b-20 text_color_2 font-14">You must provide Client ID &amp; Client Secret key to get instagram access token.<br>Please check this link for more details.</p>
					<div class="row">
						<div class="col-sm-5">
							<div class="instagram_client_id">
								<p class="text_color_2 font-13 m-b-15"><strong class="text_color_1"><label for="instagram_client_id" class="m-0">Instagram Client ID</label></strong></p>
								<div class="cache-time-setting-area  m-b-20">
									<input type="text" id="instagram_client_id" class="bi-input-control" v-model="instagramClientId">
								</div>
							</div>
							<div class="instagram_client_secret">
								<p class="text_color_2 font-13 m-b-15"><strong class="text_color_1"><label for="instagram_client_secret" class="m-0">Instagram Client Secret</label></strong></p>
								<div class="cache-time-setting-area  m-b-30">
									<input type="text" id="instagram_client_secret" class="bi-input-control" v-model="instagramClientSecret">
								</div>
							</div>

							<a href="#" class="btn btn-brand btn-sm" @click.prevent="getAccessToken">Get Access Token</a>
							
						</div>
					</div>
					
				</div>

				<div class="separator separator-hr m-b-25"></div>

				<div class="save-access-token">

					<h3 class="section-title-01 m-b-15">Save Access Token</h3>
					<p class="m-b-20 text_color_2 font-14">By default the plugin adds its scripts only on pages with wplogos shortcode.<br>But by enabling this option it will add scripts on every pages. It is required for multipage ajax websites.</p>
					<div class="row">
						<div class="col-sm-5">
							<div class="instagram_access_token">
								<p class="text_color_2 font-13 m-b-15"><strong class="text_color_1"><label for="instagram_access_token" class="m-0">Instagram Access Token</label></strong></p>
								<div class="cache-time-setting-area  m-b-30">
									<input type="text" id="instagram_access_token" class="bi-input-control" v-model="instagramAccessToken">
								</div>
							</div>

							<a href="#" class="btn btn-brand btn-sm" @click.prevent="saveAccessToken"><i class="zmdi zmdi-floppy"></i><span>Save</span></a>
							
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
			    code: null,
				instagramClientId: null,
				instagramClientSecret: null,
				instagramAccessToken: null,
				accessTokenModal: null
			}
		},

		computed: {
			defaultApiUrl() {
				return window.ApiUrl
			}
		},

		mounted() {

			window.receiveData = function( data ) {
				this.receiveAccessTokenData(data);
			}.bind(this);

            this.code = ( this.$route.params.code ) ? this.$route.params.code: null;

			$.ajax({
				url: GetUrl('?action=get_access_token', true),
				type: 'POST'
			})
			.done(function(response) {

				if ( response ) {
					response = JSON.parse( response );
				}

				if ( response.status == 'success' ) {

					for ( let prop in response.data ) {
						this[prop] = response.data[prop];
					}

				}

			}.bind(this));
		},

		methods: {

			receiveAccessTokenData(data) {

				if ( data.status == 'success' && data.data ) {
					this.instagramAccessToken = data.data;
				}

				if ( this.accessTokenModal ) {
					this.accessTokenModal.close();
				}

			},

			getAccessToken() {

                $.ajax({
                    url: GetUrl('?action=instagram_access_token', true),
                    type: 'POST',
                    data: {
                        data: JSON.stringify({
						    code: this.code,
							instagramClientId: this.instagramClientId,
							instagramClientSecret: this.instagramClientSecret,
							instagramAccessToken: this.instagramAccessToken
                        })
                    }
                })
                .done(function(response) {


                	if ( response ) {
                		response = JSON.parse( response );
                		if ( response.status ) {

                            function openRequestedPopup(that) {

								let width  = 800;
								let height = 500;
								let left   = (screen.width / 2) - (width / 2);
								let top    = (screen.height / 2) - (height / 2);

								let params = 'width='+width+', height='+height;
								params += ', top='+top+', left='+left;
								params += ', directories=no';
								params += ', location=no';
								params += ', menubar=no';
								params += ', resizable=no';
								params += ', scrollbars=no';
								params += ', status=no';
								params += ', toolbar=no';

                                that.accessTokenModal = window.open(response.data, "CNN_WindowName", params);

                            }

                            openRequestedPopup(this);

                		}
                	}
                }.bind(this))
                .fail(function() {
                    // console.log("error");
                })
                .always(function() {
                    // console.log("complete");
                });
			},

			saveAccessToken() {

				let that = this;

				$.ajax({
					url: GetUrl('?action=save_access_token', true),
					type: 'POST',
					data: {
						data: JSON.stringify({
							instagramAccessToken: that.instagramAccessToken
						})
					}
				})
				.done(function(response) {
					console.log("success");
					console.log(response);
				})
				.fail(function() {
					// console.log("error");
				})
				.always(function() {
					// console.log("complete");
				});
			}
		}
	}
</script>