<template>
	<div class="container feeds-container">
		<div class="wplogos-box">
			<div class="top-section head-section m-b-25">
				<h2>Activation <span class="activation-status not-activated">NOT ACTIVATED</span></h2>
				<p>Activate your plugin in order to get awesome benefits for our customers!</p>
			</div>
			<div class="separator separator-hr m-b-25"></div>
			<div class="bottom-section">
				<h3 class="section-title-02 m-b-30">Get Awesome Benefits</h3>
				<div class="row m-b-20">
					<div class="col-md-6">
						<ul class="feature-list feature-list-02 right-responsive-space">
							<li class="list-color-01">
								<span class="list-icon"><i class="zmdi zmdi-refresh"></i></span>
								<div class="list-content">
									<h3>Simple Live Updates</h3>
									<p>Always be aware of fresh updates and download them easily and quickly right from your admin panel.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="feature-list feature-list-02 right-responsive-space">
							<li class="list-color-02">
								<span class="list-icon"><i class="zmdi zmdi-refresh"></i></span>
								<div class="list-content">
									<h3>Fast &amp; Premium Support</h3>
									<p>Submit your ticket and get our direct support in the fastest way. We are ready to solve all your issues.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="separator separator-hr m-b-25"></div>
				<h3 class="m-b-5">Activate wplogos</h3>
				<p class="text_color_2 m-b-15">Please enter your CodeCanyon wplogos purchase code</p>
				<div class="row m-b-20">
					<div class="col-sm-5">
						<input type="text" id="purchase_code" placeholder="Purchase code" class="bi-input-control" v-model="purchase_code">
					</div>
				</div>
				<a href="#" class="btn btn-brand btn-sm m-b-30"><i class="zmdi zmdi-check-circle"></i><span>Activate</span></a>
				<div class="separator separator-hr m-b-25"></div>
				<h3 class="m-b-20">FAQ</h3>
				<div class="row">
					<div class="col-sm-5">
						<ul class="cp-faq">
							<li>
								<h3>What is item purchase code?</h3>
								<p>Purchase code is a licensed key, which you will get after buying item on <a href="#">Codecanyon.</a></p>
							</li>
							<li>
								<h3>How to get purchase code?</h3>
								<p>After buying the item you have to visit the following page <a href="#">http://codecanyon.net/downloads</a>, click the Download button and select <mark>“License Certificate &amp; Purchase Code”</mark>. In the downloaded file you’ll find your purchase code. More info in our article:<br>
								Where to find your <a href="#">Envato purchase code?.</a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				purchase_code: null
			}
		},

		mounted() {
		},

		methods: {
		}
	}
</script>