<template>
	<div class="container feeds-container">
		<div class="wplogos-box">
			<div class="top-section head-section m-b-25">
				<h2>Preferences</h2>
				<p>These settings are global for each wplogos feed on your website.</p>
			</div>
			<div class="separator separator-hr m-b-25"></div>
			<div class="bottom-section">
				<div class="enable_script_on_every_pages">
					<h3 class="section-title-01 m-b-15">Add wplogos script to every page</h3>
					<p class="m-b-20 text_color_2 font-14">By default the plugin adds its scripts only on pages with wplogos shortcode.<br>But by enabling this option it will add scripts on every pages. It is required for multipage ajax websites.</p>
					<input-toggle name="script_everywhere" v-model="script_everywhere"></input-toggle>
				</div>
				<div class="separator separator-hr m-b-25"></div>
				<div class="custom_css">
					<h3 class="section-title-01 m-b-15">Custom CSS</h3>
					<p class="m-b-20 text_color_2 font-14">Here you can specify custom styles for wplogos. It will be printed on each page with the widget.</p>
					<editor-cm class="m-b-25" id="customCSS" mode="css" v-model="customCSS"></editor-cm>
					<a href="#" class="btn btn-brand btn-sm m-b-30" @click.prevent="saveSettings"><i class="zmdi zmdi-floppy"></i><span>Save</span></a>
				</div>
				<div class="separator separator-hr m-b-25"></div>
				<div class="custom_js">
					<h3 class="section-title-01 m-b-15">Custom JavaScript</h3>
					<p class="m-b-20 text_color_2 font-14">Here you can specify custom JS for initiation of wplogos. This script will be printed on each page with the widget.</p>
					<editor-cm class="m-b-25" id="customJS" mode="javascript" v-model="customJS"></editor-cm>
					<a href="#" class="btn btn-brand btn-sm m-b-30" @click.prevent="saveSettings"><i class="zmdi zmdi-floppy"></i><span>Save</span></a>
				</div>
				<div class="separator separator-hr m-b-25"></div>
				<div class="api_settings_advance">
					<h3 class="section-title-01 m-b-15">API Settings (Advanced)</h3>
					<p class="m-b-20 text_color_2 font-14">You can set some default settings for which will load in every wplogos posts by default</p>

					<div class="limit-posts-setting-area m-b-30">
						<p class="text_color_2 font-13 m-b-15"><strong class="text_color_1"><label class="m-0" for="limitPosts">Media limit</label></strong> allows you to restrict the number of photos which you get from Instagram. The number of photos influences of the plugin's performance. We don't recommend you to set more than 100 photos without a real need. Default value: 100</p>
						<input-increment min="1" id="limitPosts" v-model="limitPosts"></input-increment>
					</div>

					<div class="cache-time-setting-area  m-b-30">
						<p class="text_color_2 font-13 m-b-10"><strong class="text_color_1"><label class="m-0" for="cacheMediaTime">Cache time</label></strong> defines how often in seconds the plugin requests Instagram and loads new photos. The option also affects the plugin's loading speed and your server load. We don't recommend you to set less than 3600 seconds. Default value: 3600</p>
						<div class="range-slider-container">
							<input type="text" class="slider-left-info" id="cacheMediaTime" v-model="cacheMediaTime">
							<input-range :dot-size="20" :tooltip="false" :min="0" :max="86400" v-model="cacheMediaTime"></input-range>
							<span class="slider-right-info">S</span>
						</div>
					</div>

					<div class="cache-time-setting-area  m-b-30">
						<p class="text_color_2 font-13 m-b-10"><strong class="text_color_1"><label class="m-0" for="aUNs">Allowed Usernames</label></strong> is a security option. You can set the list of available usernames (without "@" symbol) to prevent the usage of the plugin by third-parties. Default value is empty which means all</p>
						<div class="row">
							<div class="col-sm-8">
								<input-tag id="aUNs" placeholder="Add a source" placeholder-size="20" :tags="allowedUserNames"></input-tag>
							</div>
						</div>
					</div>

					<div class="cache-time-setting-area  m-b-30">
						<p class="text_color_2 font-13 m-b-10"><strong class="text_color_1"><label class="m-0" for="aTgs">Allowed Tags</label></strong> is a security option. You can set the list of available hashtags (without "#" symbol) to prevent the usage of the plugin by third-parties. Default value is empty which means all</p>
						<div class="row">
							<div class="col-sm-8">
								<input-tag id="aTgs" placeholder="Add a source" placeholder-size="20" :tags="allowedTags"></input-tag>
							</div>
						</div>
					</div>

					<div class="cache-time-setting-area  m-b-30">
						<p class="text_color_2 font-13 m-b-10"><strong class="text_color_1"><label class="m-0" for="exUNs">Except Usernames</label></strong> is a security option. You can set the list of available usernames (without "@" symbol) to prevent the usage of the plugin by third-parties. Default value: empty</p>
						<div class="row">
							<div class="col-sm-8">
								<input-tag id="exUNs" placeholder="Add a source" placeholder-size="20" :tags="exceptUserNames"></input-tag>
							</div>
						</div>
					</div>

					<div class="cache-time-setting-area  m-b-30">
						<p class="text_color_2 font-13 m-b-10"><strong class="text_color_1"><label class="m-0" for="exTgs">Except Tags</label></strong> is a security option. You can set the list of available hashtags (without "#" symbol) to prevent the usage of the plugin by third-parties. Default value: empty</p>
						<div class="row">
							<div class="col-sm-8">
								<input-tag id="exTgs" placeholder="Add a source" placeholder-size="20" :tags="exceptTags"></input-tag>
							</div>
						</div>
					</div>

					<div class="separator separator-hr m-b-25"></div>

					<h3 class="section-title-01 m-b-15">Custom API URL</h3>
					<p class="m-b-20 text_color_2 font-14">Defines URL address to the plugin api directory. In case you don't know how this option works, please, don't change the specified URL.<br>
					Default value: {{ defaultApiUrl }}</p>

					<div class="cache-time-setting-area  m-b-30">
						<input type="text" id="customApiUrl" class="bi-input-control" v-model="customApiUrl">
					</div>

					<a href="#" class="btn btn-brand btn-sm" @click.prevent="saveSettings"><i class="zmdi zmdi-floppy"></i><span>Save</span></a>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				limitPosts: 100,
				cacheMediaTime: 3600,
				customCSS: '',
				customJS: '',
				script_everywhere: false,
				allowedUserNames: [],
				allowedTags: [],
				exceptUserNames: [],
				exceptTags: [],
				customApiUrl: window.ApiUrl
			}
		},

		computed: {
			defaultApiUrl() {
				return window.ApiUrl
			}
		},

		mounted() {
			$.ajax({
				url: GetUrl('?action=get_preferences', true),
				type: 'POST'
			})
			.done(function(response) {

				if ( response ) {
					response = JSON.parse( response );
				}

				if ( response.status == 'success' ) {

					for ( let prop in response.data ) {
						if ( prop === 'script_everywhere' ) {
							response.data[prop] = Boolean(response.data[prop]);
						}
						this[prop] = response.data[prop];
					}

					Events.$emit('editor-sm:update-value');

				}

			}.bind(this));
		},

		methods: {
			saveSettings() {
				$.ajax({
					url: GetUrl('?action=save_preferences', true),
					type: 'POST',
					data: {
						data: JSON.stringify( this._data )
					}
				})
				.done(function(response) {
					console.log("success");
					console.log(response);
				})
				.fail(function() {
					// console.log("error");
				})
				.always(function() {
					// console.log("complete");
				});
			}
		}
	}
</script>