<template>
	<div class="container feeds-container">
		<div class="wplogos-box">
			<div class="top-section head-section">
				<h2>Feeds</h2>
				<p>Create, edit or remove your Instagram feeds. Use their shortcodes to insert them into the desired place.</p>
				<router-link to="/showcase/create/" class="btn btn-brand btn-sm"><i class="zmdi zmdi-plus"></i><span>Add Showcase</span></router-link>
			</div>
			<div class="bottom-section">
				<table class="wplogos-table">
					<tr>
						<th>Name</th>
						<th class="feed-shortcode">Shocodes</th>
						<th>Actions</th>
					</tr>

					<tr v-for="feed in feeds" :class="feed.is_deleted ? 'feed-deleted' : ''">
						<td><router-link :to='"/edit-showcase/"+feed.id' class="feed-link">{{feed.name}}</router-link></td>
						<td>
							<input type="text" class="shortcode-input" :value='"[wplogos id=" + feed.id + "]"'>
							<span :class="['copy-holder', feed.copied ? 'copied' : '']" @click.prevent="feedUpdateCopy(feed)" v-text="feed.copied ? 'Copied' : 'Copy'"></span>
						</td>
						<td class="feed-actions">
							<router-link :to='"/edit-showcase/"+feed.id'><i class="zmdi zmdi-edit"></i><span>Edit</span></router-link>
							<router-link :to='"/edit-showcase/"+feed.id+"/duplicate"'><i class="zmdi zmdi-copy"></i><span>Duplicated</span></router-link>
							<a href="#" class="feed-delete" v-if="!feed.is_deleted" @click.prevent="feedDelete(feed)"><i class="zmdi zmdi-delete"></i><span>Delete</span></a>
							<span class="feed-restore" v-if="feed.is_deleted">
								<span>The feed has been removed.</span>
								<a href="#" @click.prevent="feedRestore(feed)">Restore it</a>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				deletedFeed: null,
				feeds: []
			}
		},

		mounted() {

			$.ajax({
				url: GetUrl('?action=feeds',true),
				type: 'GET'
			})
			.done(function(response) {
				response = JSON.parse( response );
				if ( response.status == 'success' ) {
					this.feeds = response.data.map( feed => {
						feed.copied 	= false;
						feed.is_deleted = false;
						return feed;
					})
				}
			}.bind(this));

			new Clipboard('.copy-holder', {
				target(trigger) {
					return $(trigger).closest('td').find('.shortcode-input')[0];
				}
			}).on('success', function(e) {
				e.clearSelection();
			});

			$(this.$el).delegate('.shortcode-input', 'click', function(event) {
				$(this).select();
			});
		},

		methods: {
			feedUpdateCopy(currentFeed) {

				this.feeds.map(feed => {
					feed.copied = ( feed.id == currentFeed.id ) ? true : false;
				});

				var handler = setTimeout(() => {
					clearTimeout(handler);
					currentFeed.copied = false;
				}, 4000);
			},

			feedDelete(currentFeed) {

				$.ajax({
					url: GetUrl('?action=delete_feed', true),
					type: 'POST',
					data: {
						id: currentFeed.id
					}
				})
				.done(function(response) {
					console.log("success");
					console.log(response);
					currentFeed.is_deleted = true;
				})
				.fail(function() {
					// console.log("error");
				});

			},

			feedRestore(currentFeed) {
				$.ajax({
					url: GetUrl('?action=restore_feed', true),
					type: 'GET',
					data: {
						id: currentFeed.id
					}
				})
				.done(function(response) {
					console.log("success");
					console.log(response);
					currentFeed.is_deleted = false;
				})
				.fail(function() {
					// console.log("error");
				});
			}
		}
	}
</script>