<template>
	<div class="container-fluid edit-feed-container">
		<div class="wplogos-box feed-name-area-box">
			<div class="top-section head-section">
				<div class="row">
					<div class="col-sm-10">
						<router-link to="/feeds" class="btn-link m-b-30"><i class="zmdi zmdi-arrow-left"></i><span>Back To List</span></router-link>
						<h2>Add Showcase</h2>
						<p class="m-b-0">Name your feed, adjust options and save it. In the feeds list you will see the shortcode of your new feed, which you can copy paste in the desired place of your website.</p>
					</div>
					<div class="col-sm-2 text-right">
						<a href="#" class="btn btn-brand btn-sm" @click.prevent="saveFeed"><i class="zmdi zmdi-floppy"></i><span>Save Feed</span></a>
					</div>
				</div>
			</div>
			<div class="devider"></div>
			<div class="feed-name-area">
				<label for="name">Feed Name</label>
				<div class="bi-children-middle">
					<input type="text" id="name" class="bi-input-control" v-model="name">
					<span class="bi-text-help">Give any name to your feed. It will be displayed only in your admin panel.</span>
				</div>
			</div>
			<div class="devider"></div>
		</div>
		<div class="row row-20">

			<div class="col-md-4 col-sm-12 wplogos-accordion">

				<div class="wplogos-box box-accordion accordion-open accordion-open-icon">
					<div class="top-area">
						<div class="row">
							<div class="col-xs-10">
								<h3>Grid &amp; Sizes</h3>
							</div>
							<div class="col-xs-2 text-right">
								<div class="accordion-control"><a href="#"></a></div>
							</div>
						</div>
					</div>
					<div class="bottom-area">
						
						<div class="bi-form-group m-b-0">

							<div class="wplogos-widget-size">
								<h4 class="bi-form-group-heading font-14">Widget Size</h4>

								<div class="row row-20 m-b-40">

									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13">Width:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-radio name="subscribe" value="responsive" label="Responsive" :checked="widgetWidthType == 'responsive'" :model.sync="widgetWidthType"></input-radio>
										<input-radio name="subscribe" value="custom" label="Custom" :checked="widgetWidthType == 'custom'" :model.sync="widgetWidthType"></input-radio>
										<div class="range-slider-container p-r-0 m-t-20" v-if="widgetWidthType == 'custom'">
											<input type="text" class="slider-left-info" v-model="widgetWidth">
											<input-range :dot-size="20" setp="10" :tooltip="false" :min="0" :max="2500" v-model="widgetWidth"></input-range>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-40">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13">Height:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-radio name="subscribe" value="byContent" label="By Content" :checked="widgetHeightType == 'byContent'" :model.sync="widgetHeightType"></input-radio>
										<input-radio name="subscribe" value="custom" label="Custom" :checked="widgetHeightType == 'custom'" :model.sync="widgetHeightType"></input-radio>
										<div class="range-slider-container p-r-0 m-t-20" v-if="widgetHeightType == 'custom'">
											<input type="text" class="slider-left-info" v-model="widgetHeight">
											<input-range :dot-size="20" :step="10" :tooltip="false" :min="0" :max="2000" v-model="widgetHeight"></input-range>
										</div>
									</div>
								</div>
							</div>

							<div class="wplogos-grid m-b-40">
								<h4 class="bi-form-group-heading font-14">Grid</h4>

								<div class="row row-20 input-increment-area m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetColumns">Columns:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-increment :min="0" id="widgetColumns" v-model="widgetColumns"></input-increment>
									</div>
								</div>

								<div class="row row-20 input-increment-area m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetRows">Rows:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-increment :min="0" id="widgetRows" v-model="widgetRows"></input-increment>
									</div>
								</div>

								<div class="row row-20 range-slider-area">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetGutter">Gutter:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container">
											<input type="text" class="slider-left-info" id="widgetGutter" v-model="widgetGutter">
											<input-range :dot-size="20" :step="5" :tooltip="false" :min="0" :max="50" v-model="widgetGutter"></input-range>
											<span class="slider-right-info">px</span>
										</div>
									</div>
								</div>

							</div>

							<div class="wplogos-grid">
								<h4 class="bi-form-group-heading font-14">Single Logo Size</h4>

								<div class="row row-20 m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetColumns">Width:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="font-13">Auto</div>
									</div>
								</div>

								<div class="row row-20 range-slider-area m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetRows">Height:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container">
											<input type="text" class="slider-left-info" id="widgetGutter" v-model="widgetGutter">
											<input-range :dot-size="20" :step="5" :tooltip="false" :min="0" :max="50" v-model="widgetGutter"></input-range>
											<span class="slider-right-info">px</span>
										</div>
									</div>
								</div>

								<div class="row row-20 range-slider-area">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="widgetGutter">Inner Space:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container">
											<input type="text" class="slider-left-info" id="widgetGutter" v-model="widgetGutter">
											<input-range :dot-size="20" :step="5" :tooltip="false" :min="0" :max="50" v-model="widgetGutter"></input-range>
											<span class="slider-right-info">px</span>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div class="wplogos-box box-accordion">
					<div class="top-area">
						<div class="row">
							<div class="col-xs-10">
								<h3>UI Options</h3>
							</div>
							<div class="col-xs-2 text-right">
								<div class="accordion-control"><a href="#"></a></div>
							</div>
						</div>
					</div>
					<div class="bottom-area">
						<div class="bi-form-group m-b-0">
							<div class="wplogos-widget-size">

								<div class="row row-20 m-b-30">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-10" for="easing">Display Mode:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="input-select-width">
											<input-select id="easing" v-model="displayMode" :options="displayModeOptions"></input-select>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-20" v-if="displayMode.value !== 'grid'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-3">Controls:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="row">
											<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
												<input-checkbox name="isArrows" v-model="isArrows" label="Arrows"></input-checkbox>
											</div>
											<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
												<input-checkbox name="isScroll" v-model="isScroll" label="Mouse Scroll"></input-checkbox>
											</div>
											<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
												<input-checkbox name="isDrag" v-model="isDrag" label="Drag / Swipe"></input-checkbox>
											</div>
											<div class="col-sm-6">
												<input-checkbox name="isLoop" v-model="isLoop" label="Loop"></input-checkbox>
											</div>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-20" v-if="displayMode.value !== 'grid'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-3">Direction:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-radio name="direction" value="horizontal" label="Horizontal" :checked="direction == 'horizontal'" :model.sync="direction"></input-radio>
										<input-radio name="direction" value="vertical" label="Vertical" :checked="direction == 'vertical'" :model.sync="direction"></input-radio>
									</div>
								</div>

								<div class="row row-20 m-b-20 range-slider-area" v-if="displayMode.value === 'ticker'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="tickerSpeed">Ticker Speed:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container m-b-10">
											<input type="text" class="slider-left-info" id="tickerSpeed" v-model="tickerSpeed">
											<input-range :dot-size="20" :step="100" :tooltip="false" :min="1000" :max="50000" v-model="tickerSpeed"></input-range>
											<span class="slider-right-info">ms</span>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-20 range-slider-area" v-if="displayMode.value === 'carousel'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="autoPlay">Autoplay:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container m-b-10">
											<input type="text" class="slider-left-info" id="autoPlay" v-model="autoPlay">
											<input-range :dot-size="20" :step="50" :tooltip="false" :min="0" :max="10000" v-model="autoPlay"></input-range>
											<span class="slider-right-info">ms</span>
										</div>
										<input-checkbox name="pause-on-hover" v-model="pauseOnHover" label="Pause On Hover"></input-checkbox>
									</div>
								</div>

								<div class="row row-20 m-b-20" v-if="displayMode.value === 'carousel'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-3">Animation Effect:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-radio name="animation-effect" value="slide" label="Slide" :checked="animationEffect == 'slide'" :model.sync="animationEffect"></input-radio>
										<input-radio name="animation-effect" value="fade" label="Fade" :checked="animationEffect == 'fade'" :model.sync="animationEffect"></input-radio>
									</div>
								</div>

								<div class="row row-20 m-b-20 range-slider-area" v-if="displayMode.value === 'carousel'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="animationSpeed">Animation Speed:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container m-b-10">
											<input type="text" class="slider-left-info" id="animationSpeed" v-model="animationSpeed">
											<input-range :dot-size="20" :step="50" :tooltip="false" :min="0" :max="5000" v-model="animationSpeed"></input-range>
											<span class="slider-right-info">ms</span>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-30" v-if="displayMode.value === 'carousel'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-10" for="easing">Easing:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="input-select-width">
											<input-select id="easing" v-model="easing" :options="easingOptions"></input-select>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-10" for="mode">Mode:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="input-select-width">
											<input-radio name="mode" value="popup" label="Popup" :checked="mode == 'popup'" :model.sync="mode"></input-radio>
											<input-radio name="mode" value="instagram" label="Instagram" :checked="mode == 'instagram'" :model.sync="mode"></input-radio>
										</div>
									</div>
								</div>

								<div class="row row-20 m-b-20 range-slider-area" v-if="mode === 'popup'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13" for="popupImageSwitchSpeed">Popup Image Switch Speed:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="range-slider-container m-b-10">
											<input type="text" class="slider-left-info" id="popupImageSwitchSpeed" v-model="popupImageSwitchSpeed">
											<input-range :dot-size="20" :step="50" :tooltip="false" :min="0" :max="5000" v-model="popupImageSwitchSpeed"></input-range>
											<span class="slider-right-info">ms</span>
										</div>
									</div>
								</div>
								
								<div class="row row-20 m-b-20" v-if="mode === 'popup'">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-10" for="popupImageSwitchEasing">Popup Image switch easing:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<div class="input-select-width">
											<input-select id="popupImageSwitchEasing" v-model="popupImageSwitchEasing" :options="easingOptions"></input-select>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="wplogos-box box-accordion">
					<div class="top-area">
						<div class="row">
							<div class="col-xs-10">
								<h3>Info To Show</h3>
							</div>
							<div class="col-xs-2 text-right">
								<div class="accordion-control"><a href="#"></a></div>
							</div>
						</div>
					</div>
					<div class="bottom-area">
						<div class="bi-form-group m-b-0">
							<div class="wplogos-widget-size">

								<div class="row row-20 m-b-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-3">Gallery Info:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-checkbox name="gallery-links-counter" v-model="galleryLinksCounter" label="Likes counter"></input-checkbox>
										<input-checkbox name="gallery-comments-counter" v-model="galleryCommentsCounter" label="Comments counter"></input-checkbox>
										<input-checkbox name="gallery-description" v-model="galleryDescription" label="Description"></input-checkbox>
									</div>
								</div>

								<div class="row row-20">
									<div class="col-sm-3 width-parcentage-30">
										<label class="font-13 m-t-3">Popup Info:</label>
									</div>
									<div class="col-sm-9 width-parcentage-70">
										<input-checkbox name="popup-userphoto" v-model="popupUserphoto" label="User Photo"></input-checkbox>
										<input-checkbox name="popup-username" v-model="popupUsername" label="User Name"></input-checkbox>
										<input-checkbox name="popup-instagram-link" v-model="popupInstagramLink" label="Instagram Link"></input-checkbox>
										<input-checkbox name="popup-likes-counter" v-model="popupLikesCounter" label="Likes counter"></input-checkbox>
										<input-checkbox name="popup-comments-counter" v-model="popupCommentsCounter" label="Comments counter"></input-checkbox>
										<input-checkbox name="popup-location" v-model="popupLocation" label="Location"></input-checkbox>
										<input-checkbox name="popup-passed-time" v-model="popupPassedTime" label="Passed time"></input-checkbox>
										<input-checkbox name="popup-description" v-model="popupDescription" label="Description"></input-checkbox>
										<input-checkbox name="popup-comments" v-model="popupComments" label="Comments"></input-checkbox>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="wplogos-box box-accordion">
					<div class="top-area">
						<div class="row">
							<div class="col-xs-10">
								<h3>Responsive</h3>
							</div>
							<div class="col-xs-2 text-right">
								<div class="accordion-control"><a href="#"></a></div>
							</div>
						</div>
					</div>
					<div class="bottom-area">
						<div class="bi-form-group m-b-0">

							<div class="wplogos-responsive-breakpoints">
								<label>Responsive breakpoints</label>
								<div class="bi-text-help m-b-20">Specify the breakpoints to set the columns, rows and gutter in the grid depending on a window width.</div>

								<transition-group name="break-point" tag="div" class="wplogos-responsive-breakpoints-wrapper">
									<div class="wplogos-single-breakpoint m-b-20" v-for="breakPoint in responsiveBreakPoints" :key="breakPoint.id">
										<div class="top">
											<div class="row">
												<div class="col-xs-8 col-sm-8">Breakpoint {{breakPoint.id}}</div>
												<div class="col-xs-4 col-sm-4 text-right"><a href="#" @click.prevent="removeBreakPoint(breakPoint)"><i class="zmdi zmdi-close"></i></a></div>
											</div>
										</div>
										<div class="bottom">
											<div class="row row-20 range-slider-area m-b-20">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13" :for="'breakpoint-'+breakPoint.id+'-windowWidth'">Window Width:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<div class="range-slider-container">
														<input type="text" class="slider-left-info" :id="'breakpoint-'+breakPoint.id+'-windowWidth'" v-model="breakPoint.windowWidth">
														<input-range :dot-size="20" :step="10" :tooltip="false" :min="0" :max="2500" v-model="breakPoint.windowWidth"></input-range>
														<span class="slider-right-info">px</span>
													</div>
												</div>
											</div>

											<div class="row row-20 input-increment-area m-b-20">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13" :for="'breakpoint-'+breakPoint.id+'-widget-columns'">Columns:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<input-increment :min="0" :id="'breakpoint-'+breakPoint.id+'-widget-columns'" v-model="breakPoint.widgetColumns"></input-increment>
												</div>
											</div>

											<div class="row row-20 input-increment-area m-b-20">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13" :for="'breakpoint-'+breakPoint.id+'-widget-rows'">Rows:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<input-increment :min="0" :id="'breakpoint-'+breakPoint.id+'-widget-rows'" v-model="breakPoint.widgetRows"></input-increment>
												</div>
											</div>

											<div class="row row-20 range-slider-area m-b-20">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13" :for="'breakpoint-'+breakPoint.id+'-widget-gutter'">Gutter:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<div class="range-slider-container">
														<input type="text" class="slider-left-info" :id="'breakpoint-'+breakPoint.id+'-widget-gutter'" v-model="breakPoint.widgetGutter">
														<input-range :dot-size="20" :step="5" :tooltip="false" :min="0" :max="50" v-model="breakPoint.widgetGutter"></input-range>
														<span class="slider-right-info">px</span>
													</div>
												</div>
											</div>

											<div class="row row-20 m-b-20" v-if="displayMode.value !== 'grid'">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13 m-t-3">Controls:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<div class="row">
														<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
															<input-checkbox name="subscribe" v-model="breakPoint.isArrows" label="Arrows"></input-checkbox>
														</div>
														<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
															<input-checkbox name="subscribe" v-model="breakPoint.isScroll" label="Scroll"></input-checkbox>
														</div>
														<div class="col-sm-6" v-if="displayMode.value === 'carousel'">
															<input-checkbox name="subscribe" v-model="breakPoint.isDrag" label="Drag"></input-checkbox>
														</div>
														<div class="col-sm-6">
															<input-checkbox name="subscribe" v-model="breakPoint.isLoop" label="Loop"></input-checkbox>
														</div>
													</div>
												</div>
											</div>

											<div class="row row-20" v-if="displayMode.value !== 'grid'">
												<div class="col-sm-3 width-parcentage-30">
													<label class="font-13 m-t-3">Direction:</label>
												</div>
												<div class="col-sm-9 width-parcentage-70">
													<input-radio name="scroll-direction" value="horizontal" label="Horizontal" :checked="breakPoint.direction == 'horizontal'" :model.sync="breakPoint.direction"></input-radio>
													<input-radio name="scroll-direction" value="vertical" label="Vertical" :checked="breakPoint.direction == 'vertical'" :model.sync="breakPoint.direction"></input-radio>
												</div>
											</div>

										</div>
									</div>
								</transition-group>

								<a href="#" class="btn btn-brand btn-sm" @click.prevent="addBreakPoint"><i class="zmdi zmdi-plus"></i><span>Add Breakpoint</span></a>
							</div>

						</div>
					</div>
				</div>

				<div class="wplogos-box box-accordion">
					<div class="top-area">
						<div class="row">
							<div class="col-xs-10">
								<h3>UI Styles</h3>
							</div>
							<div class="col-xs-2 text-right">
								<div class="accordion-control"><a href="#"></a></div>
							</div>
						</div>
					</div>
					<div class="bottom-area">
						<div class="bi-form-group m-b-0">

							<div class="row row-20 m-b-40">
								<div class="col-sm-3 width-parcentage-30">
									<label class="font-13 m-t-10" for="dddd">Color scheme:</label>
								</div>
								<div class="col-sm-9 width-parcentage-70">
									<div class="input-select-width">
										<input-select id="dddd" v-model="colorScheme" :options="colorSchemeOptions"></input-select>
									</div>
								</div>
							</div>

							<div class="row row-20 m-b-30">
								<div class="col-sm-3 width-parcentage-30">
									<label class="font-13 m-t-3">Gallery Colors:</label>
								</div>
								<div class="col-sm-9 width-parcentage-70">
									<input-color label="Background" v-model="galleryColors.backgroundColor"></input-color>
									<input-color label="Counters" v-model="galleryColors.countersColor"></input-color>
									<input-color label="Description" v-model="galleryColors.descriptionColor"></input-color>
									<input-color label="Icon links" v-model="galleryColors.linksColor"></input-color>
									<input-color label="Overlay" v-model="galleryColors.overlayColor"></input-color>
									<input-color label="Arrows" v-model="galleryColors.arrowsColor"></input-color>
									<input-color label="Arrows on hover" v-model="galleryColors.arrowsOnHoverColor"></input-color>
									<input-color label="Arrows background" v-model="galleryColors.arrowsBackgroundColor"></input-color>
									<input-color label="Arrows bg on hover" v-model="galleryColors.arrowsBgOnHoverColor"></input-color>
								</div>
							</div>

							<div class="row row-20">
								<div class="col-sm-3 width-parcentage-30">
									<label class="font-13 m-t-3">Popup Colors:</label>
								</div>
								<div class="col-sm-9 width-parcentage-70">
									<input-color label="Overlay" v-model="popupColors.overlayColor"></input-color>
									<input-color label="Background" v-model="popupColors.backgroundColor"></input-color>
									<input-color label="Controls" v-model="popupColors.controlsColor"></input-color>
									<input-color label="Controls on hover" v-model="popupColors.controlsOnHoverColor"></input-color>
									<input-color label="Username" v-model="popupColors.usernameColor"></input-color>
									<input-color label="Username on hover" v-model="popupColors.usernameOnHoverColor"></input-color>
									<input-color label="Text" v-model="popupColors.textColor"></input-color>
									<input-color label="Anchor" v-model="popupColors.anchorColor"></input-color>
									<input-color label="Anchor on hover" v-model="popupColors.anchorOnHoverColor"></input-color>
									<input-color label="Counters" v-model="popupColors.countersColor"></input-color>
									<input-color label="Passed time" v-model="popupColors.passedTimeColor"></input-color>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div class="m-t-30">
					<a href="#" class="btn btn-brand btn-md" @click.prevent="saveFeed"><i class="zmdi zmdi-floppy"></i><span>Save Feed</span></a>
				</div>

			</div>

			<div class="col-md-8 col-sm-12">
				<div class="wplogos-slider-box-wrapper">
					<div class="control m-b-10 bi-children-middle">
						<input-radio class="m-r-10" name="viewMode" value="logoAdding" label="Add Logos" :checked="viewMode == 'logoAdding'" :model.sync="viewMode"></input-radio>
						<input-radio name="viewMode" value="preview" label="Preview" :checked="viewMode == 'preview'" :model.sync="viewMode"></input-radio>
					</div>
					<div class="sdfsdfsdf">
						<div class="sdfsdf" v-if="viewMode == 'logoAdding'">
							<div class="logos-area" v-if="photos">
								<div class="wplogos-responsive-breakpoints">
									<draggable v-model="photos">
										<transition-group name="break-point" tag="div">
											<div class="item-drag-elem wplogos-single-logo-builder m-b-20" v-for="photo in photos" :key="photo.id">
												<div class="wplogos-image">
													<img :src="photo.url" alt="">
												</div>
												<div class="wplogos-title">
													<input type="text" class="bi-input-control control-sm" placeholder="Title" v-model="photo.title">
												</div>
												<div class="wplogos-url">
													<input type="text" class="bi-input-control control-sm" placeholder="Link" v-model="photo.link">
												</div>
												<div class="wplogos-delete">
													<a href="#" @click.prevent="removeMedia(photo)"><i class="zmdi zmdi-close"></i></a>
												</div>
											</div>
										</transition-group>
									</draggable>
								</div>
							</div>
							<add-wp-media v-model="photos"></add-wp-media>
						</div>
						<div class="wplogos-slider-box" v-if="viewMode == 'preview'">
							<div class="wplogos-box">
								<div class="wplogos-slider-container">
									<div class="wplogos-slider">
										<div class="wplogos-single-logo-wrapper" v-for="photo in photos">
											<a target="_blank" :href="photo.link" :data-photo-id="photo.id" :class="['insta-gallery-box-content']">
												<div class="wplogos-single-logo"><img :src="photo.url" alt=""></div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	let instaPopup;
	module.exports = {

		data() {
			return {

				id: null,
				$slider: null,
				slickData: null,
				photos: [],

				// Informative
				name: '',

				// Sources
				sources: ['@coderpixel'],
				filterOnly: [],
				filterExcept: [],
				limitPosts: 0,
				cacheMediaTime: 3600,

				// Sizes
				widgetWidth: 100,
				widgetWidthType: 'responsive',
				widgetHeight: 100,
				widgetHeightType: 'byContent',
				widgetColumns: 4,
				widgetRows: 2,
				widgetGutter: 0,
				responsiveBreakPoints: [],

				// UI
				displayMode: {
					label: 'Carousel',
					value: 'carousel'
				},
				hoverEffects: [],
				isArrows: true,
				isScroll: true,
				isDrag: true,
				isLoop: true,
				direction: 'horizontal',
				animationEffect: 'slide',
				autoPlay: 0,
				pauseOnHover: true,
				animationSpeed: 1000,
				tickerSpeed: 9000,
				easing: {
					label: 'ease',
					value: 'ease'
				},

				// Popup
				popupImageSwitchSpeed: 400,
				popupImageSwitchEasing: {
					label: 'ease',
					value: 'ease'
				},
				mode: 'popup',
				viewMode: 'logoAdding',

				// Info
				// Info - Gallery
				galleryLinksCounter: true,
				galleryCommentsCounter: true,
				galleryDescription: true,

				// Info - Popup
				popupUserphoto: true,
				popupUsername: true,
				popupInstagramLink: true,
				popupLikesCounter: true,
				popupCommentsCounter: true,
				popupLocation: true,
				popupPassedTime: true,
				popupDescription: true,
				popupComments: true,

				// Style
				colorScheme: {
					label: "Indigo",
					value: 'indigo'
				},

				// Gallery Colors
				galleryColors: {
					backgroundColor: 'rgba(0,0,0,0)',
					countersColor: 'rgb(255, 255, 255)',
					descriptionColor: 'rgb(255, 255, 255)',
					linksColor: 'rgb(255, 255, 255)',
					overlayColor: 'rgb(64, 93, 230)',
					arrowsColor: 'rgb(64, 93, 230)',
					arrowsOnHoverColor: 'rgb(64, 93, 230)',
					arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
					arrowsBgOnHoverColor: 'rgb(255,255,255)'
				},

				// Popup Colors
				popupColors: {
					overlayColor: 'rgba(0, 0, 0, 0.8)',
					backgroundColor: 'rgb(255,255,255)',
					controlsColor: 'rgb(255,255,255)',
					controlsOnHoverColor: 'rgb(100, 127, 255)',
					usernameColor: 'rgb(33, 33, 33)',
					usernameOnHoverColor: 'rgb(64, 93, 230)',
					textColor: 'rgb(33, 33, 33)',
					anchorColor: 'rgb(33, 33, 33)',
					anchorOnHoverColor: 'rgb(64, 93, 230)',
					countersColor: 'rgb(66, 66, 66)',
					passedTimeColor: 'rgb(175, 175, 175)',
				}
			}
		},

		mounted() {

			this.id = ( this.$route.params.id ) ? this.$route.params.id: null;

			if ( this.id ) {
				this.isDublicate = ( this.$route.path.substr(this.$route.path.lastIndexOf('/') + 1) == 'duplicate' ) ? true : false;
			}

			// this.getAjaxContents( true );

			this.$slider = $(this.$el).find('.wplogos-slider');


			// Enable the Accordion
			$('.wplogos-accordion .accordion-control a').on('click', function(e){
				e.preventDefault();
				let current_accordion = $(this).closest('.box-accordion');

				current_accordion.toggleClass('accordion-open-icon').find('.bottom-area').slideToggle(400,function() {
					$(this).closest('.box-accordion').toggleClass('accordion-open');
					window.Events.$emit('input-range:refresh');
				});

				current_accordion.siblings('.accordion-open').toggleClass('accordion-open-icon').find('.bottom-area').slideUp(400,function(){
					$(this).closest('.box-accordion').removeClass('accordion-open');
				});

			});

			// Init The Slider
			this.$slider.not('.slick-initialized').slick( this.getCarouselData() );
			
			// Set Custom CSS
			this.setCustomCSS();

			// Initialize Mouse Scroll Event
			this.initScrollFunction();
			
			// Add Responsive Breakpoint Changes
			this.$slider.on('breakpoint', function(event, slick, breakpoint) {

				// Update The Gutter
				this.setGutter();

				// Update The Mouse Scroll
				this.initScrollFunction();

			}.bind(this));

			this.enableFitScreen();

			// Set Watcher for ajax data Live Changes
			this.multiWatch( ['sources', 'filterOnly', 'filterExcept', 'limitPosts', 'cacheMediaTime'], this.getAjaxMediaData );

			// Set Watcher for slider Live Changes
			this.multiWatch( ['displayMode', 'widgetRows', 'widgetColumns', 'widgetGutter', 'pauseOnHover', 'direction', 'autoPlay', 'animationSpeed', 'tickerSpeed', 'isArrows', 'isScroll', 'isDrag', 'isLoop', 'animationEffect', 'easing', 'responsiveBreakPoints', 
				], this.updateSlider );

			// Set Watcher for slider Live Changes
			this.multiWatch( ['widgetWidth', 'widgetWidthType', 'widgetHeight', 'widgetHeightType', 'widgetRows', 'widgetColumns', 'widgetGutter', 'popupImageSwitchSpeed', 'popupImageSwitchEasing'], this.setCustomCSS );

			this.multiWatch( ['mode'], this.updateSources );
			this.multiWatch( ['colorScheme'], this.updateColors );
			
			window.Events.$on('input-color:manually-changed', function(){
				this.colorScheme = this.colorSchemeOptions.find( scheme => scheme.value === 'custom' );
				this.setCustomCSS();
			}.bind(this));
		},

		methods: {

			updateColors() {
				if ( this.colorScheme ) {
					if ( this.colorScheme.value !== 'custom' ) {
						let colorScheme = this.colorSchemes.find( colorScheme => colorScheme.scheme === this.colorScheme.value );
						if ( colorScheme ) {
							this.galleryColors = NonReactive(colorScheme.galleryColors);
							this.popupColors = NonReactive(colorScheme.popupColors);
						}
					}
				}
				this.setCustomCSS();
			},

			buildPopup( item ) {

				var media = item.templateData;

				let popupCommentsANDdescriptionTemplate = '';
				
				if ( this.popupComments || this.popupDescription ) {

					popupCommentsANDdescriptionTemplate += '<ul>';

					if ( this.popupDescription && media.caption && media.caption.text ) {
						popupCommentsANDdescriptionTemplate += `<li class="media-description"><a target="_blank" class="insta-user-link" href="https://www.instagram.com/${media.user.username}"><strong>${media.user.username}</strong></a> ${this.instaTextParser(media.caption.text)}</li>`;
					}

					if ( this.popupComments && media.comments.data && media.comments.data.length ) {
						popupCommentsANDdescriptionTemplate += media.comments.data.map(comment => `<li class="media-comment"><a target="_blank" class="insta-user-link" href="https://www.instagram.com/${comment.from.username}"><strong>${media.user.username}</strong></a> ${this.instaTextParser(comment.text)}</li>`).join('');
					}

					popupCommentsANDdescriptionTemplate += '</ul>';

					if ( !item.cached && this.popupComments ) {
						popupCommentsANDdescriptionTemplate += '<span class="wplogos-loader"></span>';
					}
				}

				let locationTemplate = '';

				if ( media.location ) {
					locationTemplate += `<a class="insta-post-location" target="_blank" href="https://www.instagram.com/explore/locations/${ media.location.id }/${ media.location.name.toLowerCase() }">${ media.location.name }</a>`;
				}

				let imagesTemplate = '';

				if ( 'carousel_media' in media && media.carousel_media.length ) {

					imagesTemplate += `<div class="insta-media insta-carousel-media">`;
						
						imagesTemplate += media.carousel_media.map( carouselMedia => {
							return `<img src="${ carouselMedia.images.standard_resolution.url }" alt="" />`;
						}).join('');

					imagesTemplate += `</div>`;

				} else if ( 'videos' in media ) {

					imagesTemplate += `<div class="insta-media insta-video-media">
						<div class="insta-media-video-area">
							<video class="_c8hkj" playsinline="" poster="${ media.images.standard_resolution.url }" preload="none" src="${ media.videos.standard_resolution.url }" type="video/mp4"></video>
						</div>
						<div class="insta-media-video-controls"><span></span></div>
					</div>`;

				} else {

					imagesTemplate += `<div class="insta-media insta-single-media">
						<img src="${ media.images.standard_resolution.url }" alt="" />
					</div>`;

				}

				let popupUserANDLocationTemplate = "";

				if ( this.popupUserphoto || this.popupUsername || this.popupLocation ) {

					popupUserANDLocationTemplate = `<div class="left-area">`;

					if ( this.popupUserphoto ) {
						popupUserANDLocationTemplate += `<a target="_blank" class="insta-user-pic" href="https://www.instagram.com/${ media.user.username }">
							<img src="${ media.user.profile_picture }" alt="" />
						</a>`;
					}

					if ( this.popupUsername || this.popupLocation ) {

						popupUserANDLocationTemplate += `<span class="insta-other-info">`;

						if ( this.popupUsername ) {
							popupUserANDLocationTemplate += `<a target="_blank" class="insta-user-link" href="https://www.instagram.com/${ media.user.username }">${ media.user.username }</a>`;
						}

						if ( this.popupLocation ) {
							popupUserANDLocationTemplate += `${ locationTemplate }`;
						}

						popupUserANDLocationTemplate += `</span>`;
					}

					popupUserANDLocationTemplate += `</div>`;
				}

				let popupInstagramLinkTemplate = "";

				if ( this.popupInstagramLink ) {
					popupInstagramLinkTemplate = `<div class="right-area">
						<a target="_blank" class="bi-insta-link" href="${ media.link }"></a>
					</div>`;
				}

				let popupLikesCounterTemplate = "";

				if ( this.popupLikesCounter ) {
					popupLikesCounterTemplate = `<span class="insta-media-likes">
						<i class="zmdi zmdi-favorite-outline"></i>
						<span>${ media.likes.count }</span>
					</span>`;
				}

				let popupCommentsCounterTemplate = "";

				if ( this.popupCommentsCounter ) {
					popupCommentsCounterTemplate = `<span class="insta-media-comments">
						<i class="zmdi zmdi-comments"></i>
						<span>${ media.comments.count }</span>
					</span>`;
				}

				let popupPassedTimeTemplate = "";

				if ( this.popupPassedTime ) {
					popupPassedTimeTemplate = `<div class="right-area pull-right" title="${ this.getInstaPopupDate(media.created_time, true) }">
						${ this.getInstaPopupDate(media.created_time) }
					</div>`;
				}

				let conditionalInfoClasses = [ 'popupUserphoto', 'popupUsername', 'popupInstagramLink', 'popupLikesCounter', 'popupCommentsCounter', 'popupLocation', 'popupPassedTime', 'popupDescription', 'popupComments'].map( item => {

					let status = this[item];

					if ( status && item === 'popupLocation' && !media.location ) {
						status = false;
					}

					if ( status && item === 'popupDescription' && (!media.caption || !media.caption.text) ) {
						status = false;
					}

					return status ? 'has-'+item : 'no-'+item;

				}).join(' ');

				let template = `
					<div class="impopup-wrapper ${ conditionalInfoClasses }">
						<div class="impopup-container">
							<div class="impopup-content">
								<div class="impopup-left-area wplogos-fadeIn wplogos-animated">
									${ imagesTemplate }
								</div>
								<div class="impopup-right-area">
									<div class="top-area clearfix">
										<div class="top-area-container">
											${ popupUserANDLocationTemplate }
											${ popupInstagramLinkTemplate }
										</div>
									</div>
									<div class="middle-area">
										<div class="middle-area-container">
											${ popupCommentsANDdescriptionTemplate }
										</div>
									</div>
									<div class="bottom-area">
										<div class="bottom-area-container clearfix">
											<div class="left-area pull-left">
												<div class="insta-media-info-area">
													${ popupLikesCounterTemplate }
													${ popupCommentsCounterTemplate }
												</div>
											</div>
											${ popupPassedTimeTemplate }
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				`;

				return $(template);
			},

			timeSince(date) {

				let seconds = Math.floor((new Date() - date) / 1000);
				let interval = Math.floor(seconds / 31536000);

				if (interval > 1) {
					return interval + " years";
				}

				interval = Math.floor(seconds / 2592000);
				if (interval > 1) {
					return interval + " months";
				}

				interval = Math.floor(seconds / 86400);
				if (interval > 1) {
					return interval + " days";
				}

				interval = Math.floor(seconds / 3600);
				if (interval > 1) {
					return interval + " hours";
				}

				interval = Math.floor(seconds / 60);
				if (interval > 1) {
					return interval + " minutes";
				}

				return Math.floor(seconds) + " seconds";

			},

			getInstaPopupDate( date, fullDate ) {

				const shortMonthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
				const longMonthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

				date = new Date(parseInt(date) * 1000);
				let days = Math.floor((new Date() - date) / 1000)/86400;

				if ( !fullDate ) {
					if ( days < 8 ) {
						return this.timeSince(date) + ' ago';
					}

					if ( new Date().getFullYear() === date.getFullYear() ) {
						return shortMonthNames[date.getMonth()] + ' ' + date.getDate()
					}
				}


				return longMonthNames[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear()

			},

			instaTextParser( text ) {

				const regex = /(?:^|[ ])[#@](\S+)/gm;
				const str = text;
				let m;

				while ((m = regex.exec(str)) !== null) {

					// This is necessary to avoid infinite loops with zero-width matches
					if (m.index === regex.lastIndex) {
						regex.lastIndex++;
					}

				    m[0] = m[0].trim()

					if ( m[0].charAt(0) === '@' ) {
						text = text.replace( m[0], `<a target="_blank" href="https://www.instagram.com/${m[1]}">${m[0]}</a>` );
					}

					if ( m[0].charAt(0) === '#' ) {
						text = text.replace( m[0], `<a target="_blank" href="https://www.instagram.com/explore/tags/${m[1]}">${m[0]}</a>` );
					}
				}

				return text;

			},

			updateSources() {
				
				if ( !('uipdateSourceHandler' in window) ) {
					window.uipdateSourceHandler = undefined;
				}

				if ( typeof uipdateSourceHandler !== undefined ) {
					clearTimeout( uipdateSourceHandler );
				}

				uipdateSourceHandler = setTimeout(function() {

					if ( instaPopup ) {
						instaPopup.setItems();
					}

				}.bind(this), 700);

			},

			enablePopups() {

				let that = this;

				instaPopup = $('.wplogos-slider').ajaxPopup({

					delegate: '.slick-slide:not(.slick-cloned) .insta-gallery-popup-enabled',

					callbacks: {

						elementParse: function(item) {

           					item.ajaxSettings = {
           						url: window.GetUrl('?action=popup'),
           						data: {
           							id: $(item.el).data('instaphoto-id')
           						}
           					};

           					item.templateData = NonReactive(that.photos.find( media => media.id === $(item.el).data('instaphotoId') ));

           					return item;
           					
						},

						parseAjax: function(data, item) {
							
							data = JSON.parse( data );
							let instaMedia = NonReactive(that.photos.find( media => media.id === data.id ));
							instaMedia['comments']['data'] = data.comments;

							item.templateData = instaMedia;

							return item;

						},

						afterAfaxParsed: function(item, template) {

							var comments = '';

							if( this.currentItem.index === item.index ) {
								if ( item.templateData.comments.data && item.templateData.comments.data.length ) {
									comments += item.templateData.comments.data.map(comment => `<li class="media-comment"><a target="_blank" class="insta-user-link" href="https://www.instagram.com/${comment.from.username}"><strong>${item.templateData.user.username}</strong></a> ${that.instaTextParser(comment.text)}</li>`).join('');
								}

								template.find('.middle-area-container .wplogos-loader').fadeOut();
								template.find('.middle-area-container ul').append(comments);
							}

						},

						buildTemplate: function( item ) {

							return that.buildPopup( item );

						},

						popupContentAdded: function( template, item ) {

							if ( template.find('.insta-carousel-media').length ) {
								template.find('.insta-carousel-media').slick({
									dots: true,
									infinite: false,
									prevArrow: '<span class="bi-arrow-prev"><i class="zmdi zmdi-chevron-left"></i></span>',
									nextArrow: '<span class="bi-arrow-next"><i class="zmdi zmdi-chevron-right"></i></span>'
								});
							}

							if ( template.find('.insta-video-media').length ) {
								let video = template.find('video')[0];
								template.find('.insta-media-video-controls').on('click', function(e) {
									if (video.paused) {
										video.play();
										$(this).closest('.insta-video-media').addClass('video-playing');
									} else {
										video.pause();
										$(this).closest('.insta-video-media').removeClass('video-playing');
									}
								});

								$(window).off('focusout').on('focusout', function() {
									video.load();
								});
							}

						}
					}

				});

			},

			getInstaLinkClass( instaPhoto ) {

				let linkClass = 'insta-gallery-popup-image';

				if ( instaPhoto.type === 'carousel' ) {
					linkClass = 'insta-gallery-popup-carousel';
				}

				if ( instaPhoto.type === 'video' ) {
					linkClass = 'insta-gallery-popup-video';
				}

				if ( this.mode == 'popup' ) {
					linkClass += ' insta-gallery-popup-enabled';
				}

				return linkClass;

			},

			getMediaSize( size ) {

				if ( size.width > size.height ) {
					return 'insta-gallery-media-landscape';
				}

				if ( size.width < size.height ) {
					return 'insta-gallery-media-portrait';
				}

				return 'insta-gallery-media-square';

			},

			captionFormatter(caption) {

				return caption;

			},

			enableFitScreen() {

				let $sliderParent 	= this.$slider.closest('.wplogos-box');
				let adminBarHeight 	= $('#wpadminbar');

				$(window).scroll(function(e) {

					let offsetTop 			= this.$slider.closest('.wplogos-slider-box').offset().top;
					let sliderParentPadTop 	= parseInt( $sliderParent.css('padding-top') );

					adminBarHeight 			= adminBarHeight.length ? adminBarHeight.outerHeight() : sliderParentPadTop;

					if ( ($(window).scrollTop() + adminBarHeight + 20) >= offsetTop ) {

						if ( $sliderParent.outerHeight() < ( $(window).height() - adminBarHeight) ) {

							$sliderParent.css({
								width: this.$slider.closest('.wplogos-slider-box').width() + 'px',
								height: this.$slider.height() + ( sliderParentPadTop * 2 ) + 'px',
								position: 'fixed',
								top: adminBarHeight + 20 + 'px',
								left: this.$slider.closest('.wplogos-slider-box').offset().left + 'px'
							});

							this.$slider.closest('.wplogos-slider-box-wrapper').addClass('screenFitEnabled screenIsSmaller');

							return;

						}

						this.$slider.closest('.wplogos-slider-box-wrapper').removeClass('screenFitEnabled screenIsSmaller');

					}

					$sliderParent.css({
						width: 'auto',
						height: 'auto',
						position: 'relative',
						top: '0px',
						left: '0px'
					});

				}.bind(this));

			},

			setCustomCSS() {

				let slick 			= this.$slider.slick('getSlick');
				let widgetGutter 	= this.widgetGutter;
				let widgetRows 		= this.widgetRows;
				let widgetColumns 	= this.widgetColumns;

				let width = '100%';
				let height = 'auto';
				let slideWidth = 'auto';

				if ( slick.activeBreakpoint ) {
					widgetGutter 			= slick.breakpointSettings[slick.activeBreakpoint].widgetGutter;
					widgetRows 		= slick.breakpointSettings[slick.activeBreakpoint].rows;
					widgetColumns 	= slick.breakpointSettings[slick.activeBreakpoint].slidesPerRow;
				}

				if ( this.widgetWidthType !== 'responsive' ) {
					width = this.widgetWidth + 'px';
				}

				if ( this.widgetHeightType !== 'byContent' ) {
					height = this.widgetHeight + 'px';
					slideWidth = (( this.widgetHeight / widgetRows ) * widgetColumns) + ( widgetGutter / widgetRows * widgetColumns ) + 'px';
				}

				let popupImageSwitchSpeed = this.popupImageSwitchSpeed / 1000;
				let popupImageSwitchEasing = this.popupImageSwitchEasing.value;

				let customStyle = `
					.wplogos-slider-container {
						width: ${ width } !important;
						height: ${ height } !important;
					}

					.slick-slide > div {
						width: ${ slideWidth } !important;
					}

					.wplogos-animated {
						-webkit-animation-duration: ${popupImageSwitchSpeed}s;
						   -moz-animation-duration: ${popupImageSwitchSpeed}s;
						     -o-animation-duration: ${popupImageSwitchSpeed}s;
						        animation-duration: ${popupImageSwitchSpeed}s;
						-webkit-timing-function: ${popupImageSwitchEasing}s;
						   -moz-timing-function: ${popupImageSwitchEasing}s;
						     -o-timing-function: ${popupImageSwitchEasing}s;
						        timing-function: ${popupImageSwitchEasing}s;
					}

					.wplogos-slider-container {
						background-color: ${this.galleryColors.backgroundColor};
					}

					.insta-gallery .bi-media-hover-content .b-i-media-likes-comments-area>span>* {
						color: ${this.galleryColors.countersColor};
					}

					.b-i-media-caption {
						color: ${this.galleryColors.descriptionColor};
					}

					.insta-gallery .b-i-media-indicator-icons {
						color: ${this.galleryColors.linksColor};
					}

					.insta-gallery .bi-media-hover-content {
						background-color: ${this.galleryColors.overlayColor};
					}

					.slick-slider .slick-arrow {
						background-color: ${this.galleryColors.arrowsBackgroundColor};
						color: ${this.galleryColors.arrowsColor};
					}

					.slick-slider .slick-arrow:hover {
						background-color: ${this.galleryColors.arrowsBgOnHoverColor};
						color: ${this.galleryColors.arrowsOnHoverColor};
					}

					.insta-media-popup-view {
						background-color: ${this.popupColors.overlayColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-left-area,
					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area {
						background-color: ${this.popupColors.backgroundColor};
					}


					.insta-media-popup-view .insta-media-popup-container .insta-media-info-area {
						color: ${this.popupColors.countersColor};
					}
					
					.insta-media-popup-view .insta-media-popup-container .bottom-area .bottom-area-container .right-area {
						color: ${this.popupColors.passedTimeColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .middle-area .middle-area-container ul li {
						color: ${this.popupColors.textColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .middle-area .middle-area-container a {
						color: ${this.popupColors.anchorColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .middle-area .middle-area-container a:hover {
						color: ${this.popupColors.anchorOnHoverColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .insta-user-link,
					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .insta-post-location,
					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .middle-area .middle-area-container a.insta-user-link {
						color: ${this.popupColors.usernameColor};
					}

					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .insta-user-link:hover,
					.insta-media-popup-view .insta-media-popup-container .impopup-content .impopup-right-area .middle-area .middle-area-container a.insta-user-link:hover {
						color: ${this.popupColors.usernameOnHoverColor};
					}

					.insta-media-popup-view .insta-media-arrow,
					.insta-media-popup-view .insta-media-popup-close {
						color: ${this.popupColors.controlsColor};
					}

					.insta-media-popup-view .insta-media-arrow:hover,
					.insta-media-popup-view .insta-media-popup-close:hover {
						color: ${this.popupColors.controlsOnHoverColor};
					}
					
					
				`;

				let style = `<style id="wplogos-custom-style" type="text/css"> ${ customStyle } </style>`;

				if ( $('#wplogos-custom-style').length ) $('#wplogos-custom-style').remove();

				$("head").append( style );

				this.$slider.hasClass('slick-initialized') && this.$slider.slick('slickGoTo', 0, true);

			},

			setCaptionHeight() {

				this.$slider.find('.b-i-media-caption').each(function() {

					let $parent 		= $(this).closest('.insta-gallery-box-content');
					let $mediaCaption 	= $parent.find('.b-i-media-caption');
					let $mediaContent 	= $parent.find('.b-i-media-content');
					let height 			= $parent.height();
					let lineHeight 		= parseInt($mediaCaption.css('line-height'));

					if (!$mediaCaption.length) return;

					$mediaCaption.css('max-height', '');

					let $parentHeight = $parent.height() - 40;
					let mediaCaptionHeight = $parentHeight - $mediaCaption.position().top;

					let lines = Math.floor(mediaCaptionHeight / lineHeight);
					let maxHeight = (lines - 1) * lineHeight;

					if ( $mediaCaption.height() > maxHeight ) {
						$mediaCaption.css({
							'max-height': maxHeight + 'px'
						});
						$mediaContent.addClass('bi-media-caption-cropped');
					} else {
						$mediaContent.removeClass('bi-media-caption-cropped');
					}

				});

			},

			setGutter() {

				let slick = this.$slider.slick('getSlick');
				let gutter = slick.activeBreakpoint ? slick.breakpointSettings[slick.activeBreakpoint].widgetGutter : this.widgetGutter;

				this.$slider.find('.slick-list').css({
					'margin': ( '-' + gutter / 2 + 'px' )
				});

				this.$slider.find('.insta-gallery').css({
					'padding': ( gutter / 2 + 'px' )
				});

				this.$slider.slick('slickGoTo', 0, true);
				
				this.setCaptionHeight();

			},

			getCarouselData( displayMode = this.displayMode.value ) {

				let defaultData = {
					prevArrow: '<span class="bi-arrow-prev"><i class="zmdi zmdi-chevron-left"></i></span>',
					nextArrow: '<span class="bi-arrow-next"><i class="zmdi zmdi-chevron-right"></i></span>'
				};

				let data;

				switch( displayMode ) {

					case 'carousel': {
						data = {
							rows: 				this.widgetRows,
							slidesPerRow: 		this.widgetColumns,
							pauseOnHover: 		this.pauseOnHover,
							vertical: 			(this.direction === 'vertical' && (this.animationEffect !== 'fade')),
							verticalSwiping: 	(this.direction === 'vertical' && (this.animationEffect !== 'fade')),
							autoplay: 			(this.autoPlay > 0),
							autoplaySpeed: 		this.autoPlay,
							speed: 				this.animationSpeed,
							arrows: 			this.isArrows,
							draggable: 			this.isDrag,
							swipe: 				this.isDrag,
							touchMove: 			this.isDrag,
							infinite: 			this.isLoop,
							fade: 				(this.animationEffect === 'fade'),
							cssEase: 			this.easing.value,
							responsive: 		[]
						};

						this.responsiveBreakPoints.forEach( breakpoint => {
							data.responsive.push({
								breakpoint: breakpoint.windowWidth,
								settings: {
									rows: 				breakpoint.widgetRows,
									slidesPerRow: 		breakpoint.widgetColumns,
									arrows: 			breakpoint.isArrows,
									draggable: 			breakpoint.isDrag,
									swipe: 				breakpoint.isDrag,
									touchMove: 			breakpoint.isDrag,
									infinite: 			breakpoint.isLoop,
									vertical: 			(breakpoint.direction === 'vertical' && (this.animationEffect !== 'fade')),
									verticalSwiping: 	(breakpoint.direction === 'vertical' && (this.animationEffect !== 'fade')),
									widgetGutter: 		breakpoint.widgetGutter,
									isScroll: 			breakpoint.isScroll,
								}
							});
						});
					}
					break;

					case 'ticker': {
						data = {
							rows: 				this.widgetRows,
							slidesPerRow: 		this.widgetColumns,
							pauseOnHover: 		false,
							vertical: 			(this.direction === 'vertical' && (this.animationEffect !== 'fade')),
							verticalSwiping: 	(this.direction === 'vertical' && (this.animationEffect !== 'fade')),
							autoplay: 			true,
							autoplaySpeed: 		0,
							speed: 				this.tickerSpeed,
							arrows: 			false,
							draggable: 			false,
							swipe: 				false,
							touchMove: 			false,
							infinite: 			this.isLoop,
							fade: 				false,
							cssEase: 			'linear',
							responsive: 		[]
						};

						this.responsiveBreakPoints.forEach( breakpoint => {
							data.responsive.push({
								breakpoint: breakpoint.windowWidth,
								settings: {
									rows: 				breakpoint.widgetRows,
									slidesPerRow: 		breakpoint.widgetColumns,
									arrows: 			false,
									draggable: 			false,
									swipe: 				false,
									touchMove: 			false,
									infinite: 			breakpoint.isLoop,
									vertical: 			(breakpoint.direction === 'vertical' && (this.animationEffect !== 'fade')),
									verticalSwiping: 	(breakpoint.direction === 'vertical' && (this.animationEffect !== 'fade')),
									widgetGutter: 		breakpoint.widgetGutter,
									isScroll: 			false,
								}
							});
						});
					}
					break;

					default: {
						data = {
							rows: 				this.widgetRows,
							slidesPerRow: 		this.widgetColumns,
							pauseOnHover: 		false,
							autoplay: 			false,
							autoplaySpeed: 		0,
							speed: 				0,
							arrows: 			false,
							draggable: 			false,
							swipe: 				false,
							touchMove: 			false,
							infinite: 			false,
							fade: 				false,
							cssEase: 			'linear',
							responsive: 		[]
						};

						this.responsiveBreakPoints.forEach( breakpoint => {
							data.responsive.push({
								breakpoint: breakpoint.windowWidth,
								settings: {
									rows: 				breakpoint.widgetRows,
									slidesPerRow: 		breakpoint.widgetColumns,
									arrows: 			false,
									draggable: 			false,
									swipe: 				false,
									touchMove: 			false,
									infinite: 			false,
									vertical: 			false,
									verticalSwiping: 	false,
									widgetGutter: 		breakpoint.widgetGutter,
									isScroll: 			false,
								}
							});
						});
					}

				}

				return $.extend({}, defaultData, data);

			},

			initScrollFunction() {

				let slick = this.$slider.slick('getSlick');
				let status = slick.activeBreakpoint ? slick.breakpointSettings[slick.activeBreakpoint].isScroll : this.isScroll;

				if ( status && this.displayMode.value === 'carousel' ) {

					this.$slider.off('mousewheel').on('mousewheel', function( e, direction ) {

						e.preventDefault();

						( direction === 1 ) ? this.$slider.slick('slickPrev') : this.$slider.slick('slickNext');

					}.bind(this));

					return;

				}

				this.$slider.off('mousewheel');

			},

			saveFeed() {

				let data = NonReactive(this._data);

				['$slider', 'slickData', 'photos', 'displayModeOptions', 'easingOptions', 'colorSchemeOptions', 'colorSchemes', 'isDublicate'].forEach( option => {
					if ( option in data ) {
						delete data[option];
					}
				});

				let action = ( this.isDublicate ) ? 'duplicate_feed' : 'save_feed';

				$.ajax({
					url: GetUrl('?action='+action, true),
					type: 'POST',
					cache: false,
					data: {
						data: JSON.stringify(data)
					}
				})
				.done(function(response) {
					response = JSON.parse( response );
					if ( response.status == 'success' ) {
						this.$router.push("/feeds");
					}
				}.bind(this));

			},

			addBreakPoint() {

				let breakPoint;

				if ( this.responsiveBreakPoints.length > 0 ) {

					let lastBreakPoint = this.responsiveBreakPoints[this.responsiveBreakPoints.length - 1];

					breakPoint = Object.assign({}, lastBreakPoint, {
						id: Number(lastBreakPoint.id)+1,
						windowWidth: null
					});

				} else {
					breakPoint = {
						id: 			1,
						windowWidth: 	null,
						widgetColumns: 	this.widgetColumns,
						widgetRows: 	this.widgetRows,
						widgetGutter: 	this.widgetGutter,
						isArrows: 		this.isArrows,
						isScroll: 		this.isScroll,
						isLoop: 		this.isDrag,
						isDrag: 		this.isLoop,
						direction: 		this.direction
					};
				}

				this.responsiveBreakPoints.push( breakPoint );

			},

			removeBreakPoint( currentBreakPoint ) {

				let index = this.responsiveBreakPoints.findIndex( breakPoint => {
					return breakPoint.id === currentBreakPoint.id;
				});

				if ( index > -1 ) {
					this.responsiveBreakPoints.splice(index, 1);
				}

			},

			removeMedia( media ) {

				let index = this.photos.findIndex( photo => {
					return media.id === photo.id;
				});

				if ( index > -1 ) {
					this.photos.splice(index, 1);
				}

			},

			multiWatch : function(props, watcher) {

				var iterator = function(prop) {
					this.$watch(prop, watcher, {deep:true});
				};
				
				props.forEach(iterator, this);

			},

			getAjaxContents( get_feed = false ) {

				let ajaxContent = new Promise((resolve, reject) => {

					if ( this.id !== null && get_feed ) {

						$.ajax({
							url: GetUrl('?action=get_feed', true),
							type: 'GET',
							cache: false,
							data: {
								id: this.id
							}
						})
						.done(function(response) {

							if ( response ) {

								response = JSON.parse( response );

								if ( response.status == 'success' ) {

									for ( var prop in response.data ) {
										this[prop] = response.data[prop];
									}

									resolve( response.data );
								}
							}

						}.bind(this));

					} else {

						$.ajax({
							url: GetUrl('?action=source_data'),
							type: 'GET',
							cache: false,
							data: {
								data: JSON.stringify({
									sources 		: this.sources,
									filterOnly 		: this.filterOnly,
									filterExcept 	: this.filterExcept,
									limitPosts 		: this.limitPosts,
									cacheMediaTime 	: this.cacheMediaTime
								})
							}
						})
						.done(function(data) {

							if ( data ) {

								data = JSON.parse( data );

								if ( data.photos ) {
									this.photos = data.photos;
								}

								resolve( data.photos );

							}

						}.bind(this));

					}

				});

				return ajaxContent;

			},

			getAjaxMediaData() {

				if ( !('requestTimeoutHandler' in window) ) {
					window.requestTimeoutHandler = undefined;
				}

				if ( typeof requestTimeoutHandler !== undefined ) {
					clearTimeout( requestTimeoutHandler );
				}

				requestTimeoutHandler = setTimeout(function() {

					this.getAjaxContents();
					this.updateSources();

				}.bind(this), 500);

			},

			updateSlider() {

				if ( !('sliderTimeoutHandler' in window) ) {
					window.sliderTimeoutHandler = undefined;
				}

				if ( typeof sliderTimeoutHandler !== undefined ) {
					clearTimeout( sliderTimeoutHandler );
				}

				sliderTimeoutHandler = setTimeout(function() {

					let slickData = this.getCarouselData();

					// Reinit The Slider
					this.$slider.hasClass('slick-initialized') && this.$slider.slick('unslick');
					this.$slider.not('.slick-initialized').slick( slickData );

					// Update The Gutter
					this.setGutter();

					// Update The Mouse Scroll
					this.initScrollFunction();

					// Update Popup
					this.updateSources();

				}.bind(this), 500);

			}
		},

		computed: {
			photosCM() {
				return this.photos;
			},
			easingOptions() {
				return [
					{
						label: 'linear',
						value: 'linear'
					},
					{
						label: 'ease',
						value: 'ease'
					},
					{
						label: 'ease-in',
						value: 'ease-in'
					},
					{
						label: 'ease-out',
						value: 'ease-out'
					},
					{
						label: 'ease-in-sine',
						value: 'cubic-bezier(0.47, 0, 0.745, 0.715)'
					},
					{
						label: 'ease-out-sine',
						value: 'cubic-bezier(0.39, 0.575, 0.565, 1)'
					},
					{
						label: 'ease-in-out-sine',
						value: 'cubic-bezier(0.445, 0.05, 0.55, 0.95)'
					},
					{
						label: 'ease-in-quad',
						value: 'cubic-bezier(0.55, 0.085, 0.68, 0.53)'
					},
					{
						label: 'ease-out-quad',
						value: 'cubic-bezier(0.25, 0.46, 0.45, 0.94)'
					},
					{
						label: 'ease-in-out-quad',
						value: 'cubic-bezier(0.455, 0.03, 0.515, 0.955)'
					},
					{
						label: 'ease-in-cubic',
						value: 'cubic-bezier(0.55, 0.055, 0.675, 0.19)'
					},
					{
						label: 'ease-out-cubic',
						value: 'cubic-bezier(0.215, 0.61, 0.355, 1)'
					},
					{
						label: 'ease-in-out-cubic',
						value: 'cubic-bezier(0.645, 0.045, 0.355, 1)'
					},
					{
						label: 'ease-in-quart',
						value: 'cubic-bezier(0.895, 0.03, 0.685, 0.22)'
					},
					{
						label: 'ease-out-quart',
						value: 'cubic-bezier(0.165, 0.84, 0.44, 1)'
					},
					{
						label: 'ease-in-out-quart',
						value: 'cubic-bezier(0.77, 0, 0.175, 1)'
					},
					{
						label: 'ease-in-quint',
						value: 'cubic-bezier(0.755, 0.05, 0.855, 0.06)'
					},
					{
						label: 'ease-out-quint',
						value: 'cubic-bezier(0.23, 1, 0.32, 1)'
					},
					{
						label: 'ease-in-out-quint',
						value: 'cubic-bezier(0.86, 0, 0.07, 1)'
					},
					{
						label: 'ease-in-expo',
						value: 'cubic-bezier(0.95, 0.05, 0.795, 0.035)'
					},
					{
						label: 'ease-out-expo',
						value: 'cubic-bezier(0.19, 1, 0.22, 1)'
					},
					{
						label: 'ease-in-out-expo',
						value: 'cubic-bezier(1, 0, 0, 1)'
					},
					{
						label: 'ease-in-circ',
						value: 'cubic-bezier(0.6, 0.04, 0.98, 0.335)'
					},
					{
						label: 'ease-out-circ',
						value: 'cubic-bezier(0.075, 0.82, 0.165, 1)'
					},
					{
						label: 'ease-in-out-circ',
						value: 'cubic-bezier(0.785, 0.135, 0.15, 0.86)'
					},
					{
						label: 'ease-in-back',
						value: 'cubic-bezier(0.6, -0.28, 0.735, 0.045)'
					},
					{
						label: 'ease-out-back',
						value: 'cubic-bezier(0.175, 0.885, 0.32, 1.275)'
					},
					{
						label: 'ease-in-out-back',
						value: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'
					}
				];
			},
			colorSchemeOptions() {
				return [
					{
						label: "Indigo",
						value: 'indigo'
					},
					{
						label: "Turquoise",
						value: 'turquoise'
					},
					{
						label: "Light Pink",
						value: 'light_pink'
					},
					{
						label: "Deep Purple",
						value: 'deep_purple'
					},
					{
						label: "Wet Asphalt",
						value: 'wet_asphalt'
					},
					{
						label: "Light Green",
						value: 'light_green'
					},
					{
						label: "Black White",
						value: 'black_white'
					},
					{
						label: "Black Purple",
						value: 'black_purple'
					},
					{
						label: "Black Cyan",
						value: 'black_cyan'
					},
					{
						label: "Black Carrot",
						value: 'black_carrot'
					},
					{
						label: "Custom",
						value: 'custom'
					}
				];
			},
			colorSchemes() {
				return [
					{
						scheme: 'indigo',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgb(64, 93, 230)',
							arrowsColor: 'rgb(64, 93, 230)',
							arrowsOnHoverColor: 'rgb(64, 93, 230)',
							arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
							arrowsBgOnHoverColor: 'rgb(255,255,255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(100, 127, 255)',
							usernameColor: 'rgb(33, 33, 33)',
							usernameOnHoverColor: 'rgb(64, 93, 230)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(33, 33, 33)',
							anchorOnHoverColor: 'rgb(64, 93, 230)',
							countersColor: 'rgb(66, 66, 66)',
							passedTimeColor: 'rgb(175, 175, 175)',
						}
					},
					{
						scheme: 'turquoise',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgba(26, 188, 156, 0.8)',
							arrowsColor: 'rgb(26, 188, 156)',
							arrowsOnHoverColor: 'rgb(26, 188, 156)',
							arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
							arrowsBgOnHoverColor: 'rgb(255,255,255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(55, 224, 190)',
							usernameColor: 'rgb(33, 33, 33)',
							usernameOnHoverColor: 'rgb(26, 188, 156)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(33, 33, 33)',
							anchorOnHoverColor: 'rgb(26, 188, 156)',
							countersColor: 'rgb(66, 66, 66)',
							passedTimeColor: 'rgb(175, 175, 175)',
						}
					},
					{
						scheme: 'light_pink',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgb(250, 72, 133)',
							arrowsColor: 'rgb(250, 72, 133)',
							arrowsOnHoverColor: 'rgb(250, 72, 133)',
							arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
							arrowsBgOnHoverColor: 'rgb(255,255,255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(250, 72, 133)',
							usernameColor: 'rgb(33, 33, 33)',
							usernameOnHoverColor: 'rgb(250, 72, 133)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(33, 33, 33)',
							anchorOnHoverColor: 'rgb(250, 72, 133)',
							countersColor: 'rgb(66, 66, 66)',
							passedTimeColor: 'rgb(175, 175, 175)',
						}
					},
					{
						scheme: 'deep_purple',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgb(103, 58, 183)',
							arrowsColor: 'rgb(103, 58, 183)',
							arrowsOnHoverColor: 'rgb(103, 58, 183)',
							arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
							arrowsBgOnHoverColor: 'rgb(255,255,255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(143, 97, 225)',
							usernameColor: 'rgb(33, 33, 33)',
							usernameOnHoverColor: 'rgb(103, 58, 183)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(33, 33, 33)',
							anchorOnHoverColor: 'rgb(103, 58, 183)',
							countersColor: 'rgb(66, 66, 66)',
							passedTimeColor: 'rgb(175, 175, 175)',
						}
					},
					{
						scheme: 'wet_asphalt',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgb(52, 73, 94)',
							arrowsColor: 'rgb(52, 73, 94)',
							arrowsOnHoverColor: 'rgb(52, 73, 94)',
							arrowsBackgroundColor: 'rgba(255,255,255,0.5)',
							arrowsBgOnHoverColor: 'rgb(255,255,255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(134, 159, 183)',
							usernameColor: 'rgb(33, 33, 33)',
							usernameOnHoverColor: 'rgb(52, 73, 94)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(33, 33, 33)',
							anchorOnHoverColor: 'rgb(52, 73, 94)',
							countersColor: 'rgb(66, 66, 66)',
							passedTimeColor: 'rgb(175, 175, 175)',
						}
					},
					{
						scheme: 'light_green',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgb(139, 195, 74)',
							arrowsColor: 'rgb(33, 33, 33)',
							arrowsOnHoverColor: 'rgb(139, 195, 74)',
							arrowsBackgroundColor: 'rgba(255, 255, 255, 0.6)',
							arrowsBgOnHoverColor: 'rgb(255, 255, 255)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(255,255,255)',
							controlsColor: 'rgb(255,255,255)',
							controlsOnHoverColor: 'rgb(139, 195, 74)',
							usernameColor: 'rgb(105, 159, 42)',
							usernameOnHoverColor: 'rgb(139, 195, 74)',
							textColor: 'rgb(33, 33, 33)',
							anchorColor: 'rgb(105, 159, 42)',
							anchorOnHoverColor: 'rgb(139, 195, 74)',
							countersColor: 'rgb(105, 159, 42)',
							passedTimeColor: 'rgb(134, 134, 134)',
						}
					},
					{
						scheme: 'black_white',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(255, 255, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(255, 255, 255)',
							overlayColor: 'rgba(33, 33, 33, 0.75)',
							arrowsColor: 'rgb(33, 33, 33)',
							arrowsOnHoverColor: 'rgb(255, 255, 255)',
							arrowsBackgroundColor: 'rgba(255, 255, 255, 0.5)',
							arrowsBgOnHoverColor: 'rgba(33, 33, 33, 0.5)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(33, 33, 33)',
							controlsColor: 'rgb(255, 255, 255)',
							controlsOnHoverColor: 'rgb(255, 255, 255)',
							usernameColor: 'rgb(255, 255, 255)',
							usernameOnHoverColor: 'rgb(255, 255, 255)',
							textColor: 'rgb(176, 176, 176)',
							anchorColor: 'rgb(255, 255, 255)',
							anchorOnHoverColor: 'rgb(176, 176, 176)',
							countersColor: 'rgb(176, 176, 176)',
							passedTimeColor: 'rgb(176, 176, 176)',
						}
					},
					{
						scheme: 'black_purple',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(171, 124, 255)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(171, 124, 255)',
							overlayColor: 'rgba(33, 33, 33, 0.8)',
							arrowsColor: 'rgb(33, 33, 33)',
							arrowsOnHoverColor: 'rgb(255, 255, 255)',
							arrowsBackgroundColor: 'rgba(255, 255, 255, 0.5)',
							arrowsBgOnHoverColor: 'rgba(33, 33, 33, 0.5)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(131, 86, 241)',
							controlsColor: 'rgb(255, 255, 255)',
							controlsOnHoverColor: 'rgb(255, 255, 255)',
							usernameColor: 'rgb(255, 255, 255)',
							usernameOnHoverColor: 'rgb(224, 224, 224)',
							textColor: 'rgb(224, 224, 224)',
							anchorColor: 'rgb(255, 255, 255)',
							anchorOnHoverColor: 'rgb(224, 224, 224)',
							countersColor: 'rgb(224, 224, 224)',
							passedTimeColor: 'rgb(224, 224, 224)',
						}
					},
					{
						scheme: 'black_cyan',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(0, 188, 212)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(0, 188, 212)',
							overlayColor: 'rgba(33, 33, 33, 0.8)',
							arrowsColor: 'rgb(33, 33, 33)',
							arrowsOnHoverColor: 'rgb(255, 255, 255)',
							arrowsBackgroundColor: 'rgba(255, 255, 255, 0.5)',
							arrowsBgOnHoverColor: 'rgba(33, 33, 33, 0.5)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(0, 188, 212)',
							controlsColor: 'rgb(255, 255, 255)',
							controlsOnHoverColor: 'rgb(255, 255, 255)',
							usernameColor: 'rgb(255, 255, 255)',
							usernameOnHoverColor: 'rgb(253, 253, 253)',
							textColor: 'rgb(253, 253, 253)',
							anchorColor: 'rgb(255, 255, 255)',
							anchorOnHoverColor: 'rgb(253, 253, 253)',
							countersColor: 'rgb(253, 253, 253)',
							passedTimeColor: 'rgb(253, 253, 253)',
						}
					},
					{
						scheme: 'black_carrot',
						galleryColors: {
							backgroundColor: 'rgba(0,0,0,0)',
							countersColor: 'rgb(230, 126, 34)',
							descriptionColor: 'rgb(255, 255, 255)',
							linksColor: 'rgb(230, 126, 34)',
							overlayColor: 'rgba(33, 33, 33, 0.8)',
							arrowsColor: 'rgb(33, 33, 33)',
							arrowsOnHoverColor: 'rgb(255, 255, 255)',
							arrowsBackgroundColor: 'rgba(255, 255, 255, 0.5)',
							arrowsBgOnHoverColor: 'rgba(33, 33, 33, 0.5)'
						},
						popupColors: {
							overlayColor: 'rgba(0, 0, 0, 0.8)',
							backgroundColor: 'rgb(230, 126, 34)',
							controlsColor: 'rgb(255, 255, 255)',
							controlsOnHoverColor: 'rgb(255, 255, 255)',
							usernameColor: 'rgb(255, 255, 255)',
							usernameOnHoverColor: 'rgb(253, 253, 253)',
							textColor: 'rgb(253, 253, 253)',
							anchorColor: 'rgb(255, 255, 255)',
							anchorOnHoverColor: 'rgb(253, 253, 253)',
							countersColor: 'rgb(253, 253, 253)',
							passedTimeColor: 'rgb(253, 253, 253)',
						}
					},
				];
			},
			displayModeOptions() {
				return [
					{
						label: 'Carousel',
						value: 'carousel'
					},
					{
						label: 'Ticker',
						value: 'ticker'
					},
					{
						label: 'Grid',
						value: 'grid'
					}
				];
			}
		},

		watch: {
			photos() {
				
				this.$slider.hasClass('slick-initialized') && this.$slider.slick('unslick');
				
				setTimeout(function(){

					this.$slider.not('.slick-initialized').slick( this.getCarouselData() );

					this.setGutter();
					
					this.$slider.find('img[src!=""]').each(function() {

						var $this = $(this);
						
						var img = new Image;

						img.onload = function( e ) {
							$this.parent().addClass('insta-gallery-media-loaded');
						}

						img.src = this.src;

					});

				}.bind(this), 1);

			}
		}
	}
</script>