<template>
	<div class="container feeds-container">
		<div class="wplogos-box">
			<div class="top-section head-section m-b-25">
				<h2>Support</h2>
				<p>We understand all the importance of product support for our customers. That’s why we are ready to solve all your issues and answer any question related to our plugin.</p>
			</div>
			<div class="separator separator-hr m-b-25"></div>
			<div class="bottom-section">
				<h3 class="section-title-01 m-b-25">Before send us a mail, be sure that:</h3>
				<ul class="icon-list m-b-25">
					<li class="list-color-01"><span class="list-icon"><i class="zmdi zmdi-refresh"></i></span><span class="list-text">You use the latest version</span></li>
					<li class="list-color-02"><span class="list-icon"><i class="zmdi zmdi-alert-circle-o"></i></span><span class="list-text">There are no javascript errors on your website</span></li>
					<li class="list-color-03"><span class="list-icon"><i class="zmdi zmdi-book-image"></i></span><span class="list-text">The documentation can't help</span></li>
				</ul>
				<div class="notice-text m-b-25">Nothing of the above helped? <a :href="'mailto:'+supportMail">Send us a mail</a> to our Support Mail ({{supportMail}})</div>
				<div class="separator separator-hr m-b-25"></div>
				<div class="row">
					<div class="col-md-6">
						<h3 class="section-title-02 m-b-30">Our Support Includes</h3>
						<ul class="feature-list right-responsive-space">
							<li class="list-color-01">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>Fixing Product Bugs</h3>
									<p>Our product doesn’t work properly on your website? Report your issue or bug by describing it in detail and providing us with a link to your website. We will do our best to find a solution.</p>
								</div>
							</li>
							<li class="list-color-01">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>Life-Time Updates</h3>
									<p>We provide you with all possible updates and new features, which were and will be also released in the future. Just don’t forget to check the latest version in your WordPress admin panel.</p>
								</div>
							</li>
							<li class="list-color-01">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>Considering Your Suggestions</h3>
									<p>We are open to your ideas. If you want to see some specific features, which might improve our products, then just drop us a line. We will consider them and include the best in further updates.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h3 class="section-title-02 m-b-30">Our Support Doesn’t Include</h3>
						<ul class="feature-list right-responsive-space">
							<li class="list-color-02">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>Product Installation</h3>
									<p>We don’t provide installation services for our products. Otherwise, we can give you our recommendations concerning its installation. And if you face any issue during installation, feel free to contact us.</p>
								</div>
							</li>
							<li class="list-color-02">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>Customization of Our Products</h3>
									<p>We don’t provide customization services of our products. If you want to see more features in our product, then send us a description of your ideas and we will consider them for future updates.</p>
								</div>
							</li>
							<li class="list-color-02">
								<span class="list-icon"><i class="zmdi zmdi-check"></i></span>
								<div class="list-content">
									<h3>3rd-Party Issues</h3>
									<p>We don’t fix bugs or issues caused by other plugins and themes, which relate to 3rd-party developers. Also we don’t provide services for integrating our products with 3rd-party plugins and themes.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				supportMail: 'support@coderpixel.com'
			}
		},

		mounted() {
		},

		methods: {
		}
	}
</script>