<template>
	<div class="welcome-page">
		<h2>Welcome to wplogos</h2>
		<h3>Powerful tool for creating Instagram feeds on your website.</h3>
		<p>Let’s create your first feed!</p>
		<router-link to="/showcase/create/" class="btn btn-brand">Create Feed</router-link>
	</div>
</template>