<template>
	<a href="#" class="btn btn-default btn-sm" @click.prevent="openFrame"><i class="zmdi zmdi-plus"></i><span>Add Logos</span></a>
</template>

<script>
export default {
	created() {
		this.frame = undefined;
		this.media = [];
	},
	props: {
		value: {
			type: Array,
			required: true,
			default: []
		}
	},
	methods: {
		openFrame() {

			if ( this.frame ) {
				this.frame.open();
				return;
			}

			this.frame = wp.media.frames.file_frame = wp.media({
				title: 'Select Images',
				button: {
					text: 'Use',
				},
				multiple: true,
				library: { type : 'image' },// Set to true to allow multiple files to be selected
			});

			this.frame.on('open',function() {

				let selection = this.frame.state().get('selection');

				this.value.forEach(function(file) {

					let attachment = wp.media.attachment(file.id);
					attachment.fetch();

					attachment.set({
						'mediaLink': file.link,
						'mediaTitle': file.title
					});

					selection.add( attachment ? [ attachment ] : [] );

				});

			}.bind(this));

			this.frame.on( 'select', function() {

				var attachment = this.frame.state().get('selection').toJSON();

				this.media = attachment.map( at => {
					return {
						id: at.id,
						url: at.url,
						width: at.width,
						height: at.height,
						title: at.mediaLink,
						link: at.mediaTitle
					}
				});

				this.$emit('input', this.media);

			}.bind(this));

			this.frame.open();

		}
	}
}
</script>